#services {
    padding: 7em 0em;
    background-color: var(--mpez);

    .services-header {
        margin: 0 auto;
        text-align: center;
        width: 50%;

        & > * + * {
            margin-top: 1em;
        }
    }

    h3 {
        font-size: 2.8em;
        margin-bottom: 1em;
        text-transform: capitalize;
        font-weight: 800;
        @include seperator-middle;
    }

    h5 {
        font-size: 1.3em;
    }

    p {
        color: var(--gray);
        line-height: 30px;
    }
}

.services-cards {
    @include flex-between;
    flex-wrap: wrap;
    margin-top: 3em;
    gap: 2em;
}

.services__card {
    background-color: var(--white);
    padding: 2em;
    width: calc(380px - 2em);
    min-width: 265px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

    i {
        font-size: 50px;
        color: var(--accent);
    }

    & > * {
        margin: 1em 0;
    }
}
