#footer {
    background-color: var(--black);

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1em 0;
        color: white;
    }

    .icons i {
        color: white;
        margin-right: 1em;
    }
}
