@mixin seperator-middle {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 200%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 40px;
        height: 3px;
        background-color: var(--accent);
    }
}

@mixin seperator-left {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 200%;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: var(--accent);
    }
}
